body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
#todolist-box {
  width: 500px;
  min-height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#task-title {
  background-color: rgb(199, 236, 255);
  border-radius: 5px;
  border: none;
  padding: 15px;
}

h1 {
  font-weight: 600;
  text-align: center;
}
.custom-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.li-element {
  list-style: none;
}
.checked {
  color: gray;
  text-decoration: line-through;
}
.filter-handler {
  display: flex;
  gap: 15px;
}
#add-taskBtn {
  background-color: rgb(34, 188, 226);
  border-radius: 5px;
  color: azure;
  border: none;
  cursor: pointer;
  padding: 15px;
}
.filter-handler button {
  background-color: rgb(34, 188, 226);
  width: 84px;
  height: 50px;
  border-radius: 10px;
  color: azure;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 0;
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.filter-handler button:hover {
  transform: translateY(-3px) scale(1.01);
}
.messageStyle {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px 20px;
  margin: 10px 0;
  width: 240px;
  border-radius: 5px;
  font-family: sans-serif;
}
